@mixin flex {
  display: flex;
  flex-wrap: wrap;
}

@mixin flex-column {
  @include flex;
  flex-direction: column;
}

@mixin flex-column-centered {
  @include flex-column;
  align-items: center;
  justify-content: center;
}