$primary: #134574;
$secondary: #fdd100;
$aLittleTransparent: rgba(white, 0.7);

$pokedex: rgb(168,50,36);
$screen-color: rgb(42,43,37);
$led-color: rgb(75, 44, 9);
$green: rgb(82,174,95);

$tablet: 720px;